.wrapper {
	width: 90%;
	margin: 0 auto;
}

img {
	max-width: 30%;
	float: right;
	margin: 10px;
	border: solid #004851 5px;
}

.float_left {
	max-width: 30%;
	float: left;
	margin: 10px;
	margin-top: 0;
	border: solid #004851 5px;
}

.clearfix::after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

li {
	clear: right;
}
body {
	background: radial-gradient(#004851 25%, #8D9093)
}

section {
	background:  #54585A;
	color: white;
	padding: 10px;
	border: solid #004851 5px;
	margin: 10px;
}

article {
	background: #8D9093;
	color: black;
	padding: 10px;
	border: solid #004851 5px;
	margin: 10px;
}

footer {
	font-style: italic;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding: 25px;
}

ol {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
}

p {
	font-family: "Arial Rounded", sans-serif;
	letter-spacing: 0.3px;
}

.header {
	font-variant: small-caps;
}

h3 {
	font-size: 25px
}

.score {
	text-align: center;
}